<section class="home-joblist-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-4">
                        <a class="btn job-list-count-link-container" href="#">
                            <div class="job-list-title">Acting Extras</div>
                            <div class="job-count">44 Jobs</div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a class="btn btn-success  job-list-count-link-container" href="#">
                            <div class="job-list-title">Modelling</div>
                            <div class="job-count">44 Jobs</div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a class="btn btn-success  job-list-count-link-container" href="#">
                            <div class="job-list-title">Music</div>
                            <div class="job-count">44 Jobs</div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a class="btn btn-success  job-list-count-link-container" href="#">
                            <div class="job-list-title">Dancing</div>
                            <div class="job-count">44 Jobs</div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a class="btn btn-success  job-list-count-link-container" href="#">
                            <div class="job-list-title">TV & Reality</div>
                            <div class="job-count">44 Jobs</div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a class="btn btn-success  job-list-count-link-container" href="#">
                            <div class="job-list-title">Photography</div>
                            <div class="job-count">44 Jobs</div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a class="btn btn-success  job-list-count-link-container" href="#">
                            <div class="job-list-title">Film &amp; Stage Crew</div>
                            <div class="job-count">44 Jobs</div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a class="btn btn-success  job-list-count-link-container" href="#">
                            <div class="job-list-title">Stylists</div>
                            <div class="job-count">44 Jobs</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="new-job-container">
                    <div class="new-job-heading">
                        <span class="glyphicon glyphicon-bullhorn" style="font-size:22px; padding-top:2px;"></span>
                        &nbsp;<span>Top 10 New Jobs</span>
                    </div>
                    <div class="new-job-list">
                        <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; width:100%;">
                            <tbody>
                                <tr style="border-bottom:solid 1px #ccc; height:35px;"><td>&nbsp;</td></tr>
                                <tr style="border-bottom:solid 1px #ccc; height:35px;"><td>&nbsp;</td></tr>
                                <tr style="border-bottom:solid 1px #ccc; height:35px;"><td>&nbsp;</td></tr>
                                <tr style="border-bottom:solid 1px #ccc; height:35px;"><td>&nbsp;</td></tr>
                                <tr style="border-bottom:solid 1px #ccc; height:35px;"><td>&nbsp;</td></tr>
                                <tr style="border-bottom:solid 1px #ccc; height:35px;"><td>&nbsp;</td></tr>
                                <tr style="border-bottom:solid 1px #ccc; height:35px;"><td>&nbsp;</td></tr>
                                <tr style="border-bottom:solid 1px #ccc; height:35px;"><td>&nbsp;</td></tr>
                                <tr style="border-bottom:solid 1px #ccc; height:35px;"><td>&nbsp;</td></tr>
                                <tr style="border-bottom:solid 1px #ccc; height:35px;"><td>&nbsp;</td></tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>