
<div class="row">
    <div class="col-md-3 col-lg-3 col-sm-4 profile-header-img profile-info  hidden-sm hidden-xs">
        <!--<img src="../../../../../wwwroot/css/img/arti.jpg" />-->
        <img src="" />
    </div>
    <div class="col-lg-9 col-md-9 col-sm-8 padding-top-20  hidden-sm hidden-xs">
        <div class="profile-info-detail">
            <h2 class="display-inline-block">{{profileHeader.displayName}}</h2>
            <a routerLink="/profile/name" class="fa fa-edit edit-icon-m"></a>
            <div class="text-muted">
                <span class="display-inline-block">{{jobGroupNames}}</span>
                <a routerLink="/profile/interests" class="fa fa-edit edit-icon-m"></a>
            </div>
            <div class="profile-address">
                <i class="fa fa-map-marker"></i>
                <span class="text-muted display-inline-block">{{profileHeader.cityOrTown}},&nbsp;{{profileHeader.country}}</span>
                <a routerLink="/profile/address" class="fa fa-edit edit-icon-m"></a>
            </div>
        </div>
        <!--<div class="row">
            <div class="profile-info-menu col-md-4 hidden-sm hidden-xs">
                <a href="#"><span class="fa fa-envelope-o"></span><span>Message</span></a>
                <a href="#"><span class="fa fa-star-o"></span><span>Follow</span></a>
                <a href="#"><span class="fa fa-share-alt"></span><span>Share</span></a>
            </div>
            <div class="profile-info-bar col-md-8">
                <a><strong>1,460</strong>&nbsp;<span class="text-muted">Followers</span></a>
                <a><strong>108</strong>&nbsp;<span class="text-muted">Recommendations</span></a>
                <a><strong>123</strong>&nbsp;<span class="text-muted">Castings</span></a>
                <a><strong>70.4K</strong>&nbsp;<span class="text-muted"> Views</span></a>

            </div>
        </div>-->

    </div>

    <div class="col-md-3 col-lg-3 col-sm-4 profile-header-mob-img profile-info-mob  hidden-lg hidden-md">
        <!--<img src="../../../../../wwwroot/css/img/arti.jpg" />-->
    </div>
    <div class="col-lg-9 col-md-9 col-sm-8  hidden-md hidden-lg ">
        <div class="profile-info-detail-mob text-center">
            <h2>{{profileHeader.displayName}}</h2>
            <div class="text-muted">
                {{jobGroupNames}}&nbsp;
                <a routerLink="/profile/interests"><span class="fa fa-edit padding-5" style="font-size:20px;"></span></a>
            </div>
            <div class="profile-address">
                <i class="fa fa-map-marker"></i>
                <span class="text-muted">{{profileHeader.cityOrTown}},&nbsp;{{profileHeader.country}}</span>
            </div>
        </div>
        <!--<div class="row">
            <div class="col-sm-12 col-xs-12 profile-info-menu-mob text-center">
                <a href="#"><span class="fa fa-envelope-o"></span><span>Message</span></a>
                <a href="#"><span class="fa fa-star-o"></span><span>Follow</span></a>
                <a href="#"><span class="fa fa-share-alt"></span><span>Share</span></a>
            </div>
        </div>-->
    </div>
    <div class="clearfix"></div>
</div>
