
<section class="home-section home-hero-section">
    <div class="container">
        <div class="row">
            <span class="heading">Discover talents or be discovered</span>
            <span class="heading-title">Wanted: actors, models, musicians, and more.</span>
            <!--<span class="heading-subtitle"><bdi style="color:red;">61,022</bdi> roles for all ages, looks, and levels of experience.</span>-->
        </div>
        <!--<div class="row home-hero-search-container">
            <div class="form-inline" style="text-align: center; text-align:-webkit-center;">
                <div class="form-group">
                    <select class="form-control input-lg" id="Category" name="Category">
                        <option value="/">All auditions &amp; jobs</option>
                        <option value="actors-wanted">Acting jobs</option>
                        <option value="models-wanted">Modelling jobs</option>
                        <option value="dancers-wanted">Dancing jobs</option>
                        <option value="musicians-wanted">Music jobs</option>
                        <option value="stylists-wanted">Stylist jobs</option>
                        <option value="magazines-newspapers">Magazine jobs</option>
                        <option value="photographers-wanted">Photography jobs</option>
                        <option value="crew-wanted">Film &amp; Stage Crew jobs</option>
                        <option value="tv-reality">TV &amp; Reality jobs</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control input-lg" id="Gender" name="Gender">
                        <option value="a">Any gender</option>
                        <option value="f">For Females</option>
                        <option value="m">For Males</option>
                    </select>
                </div>
                <div class="form-group">
                    <input id="cmd-home-search" type="submit" class="btn search-btn input-lg theme-button" value="Search">
                </div>
            </div>
        </div>-->
    </div>
</section>