<section class="home-profile-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <span class="heading">Create your profile</span>
                    <span class="heading-title">Don't stand outside, create your own portfolio with videos & photos.</span>
                    <span class="heading-subtitle">Show your talent and catch the eye of professionals.</span>
                </div>
                <div class="row" style="text-align:center;">
                    <a asp-controller="Account" asp-action="SignUp" class="btn btn-success home-create-profile">Create your profile</a>
                </div>
                <div class="row" style="text-align:center;">
                    <button id="planAndPrice" name="planAndPrice" class="btn btn-warning home-plan-price">Plan & Price</button>
                </div>
            </div>
        </div>
    </div>
</section>