.profile-header-img > img {
    width: 230px;
    height: 260px;
    border-radius: 50%;
    margin-top: 2px;
    border: 5px solid #fcf9f9;
}

.profile-header-mob-img > img {
    width: 150px;
    height: 170px;
    border-radius: 50%;
    margin-top: 2px;
    border: 5px solid #fcf9f9;
}

.profile-info {
    text-align: center;
    padding: 0 20px;
    z-index: 1;
}

.profile-info-mob {
    text-align: center;
    z-index: 1;
}

.profile-info-detail > h2 {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    color: #27aae1;
}

.profile-info-detail-mob > h2 {
    font-size: 25px;
    padding: 5px;
    color: #27aae1;
}

.profile-info-detail-mob > div {
    padding: 5px 0 5px 0;
    font-size: 13px;
    text-align: center !important;
}

.profile-info-detail .profile-address {
    margin-top: 10px;
}


.profile-info-menu {
    padding-top: 40px;
}

.profile-info-menu-mob {
    padding-top: 10px;
}

    .profile-info-menu-mob > a, .profile-info-menu > a {
        display: inline-block;
        padding: 0 15px 0 15px;
        vertical-align: bottom;
    }

        .profile-info-menu > a:first-child {
            display: inline-block;
            padding: 0 15px 0 5px;
            vertical-align: bottom;
        }

        .profile-info-menu > a > .fa, .profile-info-menu-mob > a > .fa {
            zoom: 2.5;
            text-align: center;
        }

        .profile-info-menu > a > span, .profile-info-menu-mob > a > span {
            display: block;
            font-size: 10px;
        }

.profile-info-bar {
    padding-top: 50px;
    text-align: right;
    padding-right: 0px !important;
}

    .profile-info-bar > a {
        padding: 0px 0px 0px 0px;
    }

        .profile-info-bar > a > strong {
        }

        .profile-info-bar > a > span {
            font-size: small;
            padding-right: 20px;
        }

.profile-menu {
    border: solid #ccc 1px;
    background-color: #fcf9f9 !important;
    height: 50px;
    margin-top: -60px;
}

    .profile-menu > a {
        padding: 0 10px 0 10px;
        line-height: 45px;
    }

        .profile-menu > a:first-child {
            margin-left: 260px;
        }


.profile-info-about {
    height: 80px;
    font-size: 13px;
    line-height: 25px;
}


.test {
    border: solid #ccc 1px;
    height: 400px;
    padding: 5px;
    margin-bottom: 10px;
}

/*==================================================
  Profile Album
  ==================================================*/
.album-photos {
    /*padding: 0;
    margin: 0 auto 20px;
    display: block;
    font-size: 0;
    text-align: center;*/
}

    .album-photos .image-container {
        list-style: none;
        display: inline-block;
        min-width: 280px;
        padding: 2px;
    }

         img.album-image {
            max-width: 100%;
        }

.img-wrapper {
    position: relative;
}

    .img-wrapper::after {
        content: "";
        cursor: pointer;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        transition: all 1s ease 0s;
    }

    .img-wrapper:hover:after {
        background-color: rgba(0,0,0, 0.4);
    }