<div id="userProfileIndexForm" class="form form-horizontal container">

    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-4 profile-header-img profile-info  hidden-sm hidden-xs">
            <img src="https://snusercontent.global.ssl.fastly.net/member-headshot-large/37/3331237_8075010.jpg?x=undefined&y=undefined" />
        </div>
        <div class="col-lg-9 col-md-9 col-sm-8 padding-top-20  hidden-sm hidden-xs">
            <div class="profile-info-detail">
                <h2>Arti Mala</h2>
                <div class="text-muted">Actor, Extra, Model, Teacher/Choreographer</div>
                <div class="profile-address">
                    <i class="fa fa-map-marker"></i>
                    <span class="text-muted">Bangalore, India</span>
                </div>
            </div>
            <div class="row">
                <div class="profile-info-menu col-md-4 hidden-sm hidden-xs">
                    <a href="#"><span class="fa fa-envelope-o"></span><span>Message</span></a>
                    <a href="#"><span class="fa fa-star-o"></span><span>Follow</span></a>
                    <a href="#"><span class="fa fa-share-alt"></span><span>Share</span></a>
                </div>
                <div class="profile-info-bar col-md-8">
                    <a><strong>1,460</strong>&nbsp;<span class="text-muted">Followers</span></a>
                    <a><strong>108</strong>&nbsp;<span class="text-muted">Recommendations</span></a>
                    <a><strong>123</strong>&nbsp;<span class="text-muted">Castings</span></a>
                    <a><strong>70.4K</strong>&nbsp;<span class="text-muted"> Views</span></a>
                    <!--<hr class="style-one" />-->
                </div>
            </div>

        </div>

        <div class="col-md-3 col-lg-3 col-sm-4 profile-header-mob-img profile-info-mob  hidden-lg hidden-md">
            <img src="https://snusercontent.global.ssl.fastly.net/member-headshot-large/37/3331237_8075010.jpg?x=undefined&y=undefined" />
        </div>
        <div class="col-lg-9 col-md-9 col-sm-8  hidden-md hidden-lg ">
            <div class="profile-info-detail-mob text-center">
                <h2>Arti Mala</h2>
                <div class="text-muted">Actor, Extra, Model, Teacher/Choreographer</div>
                <div class="profile-address">
                    <i class="fa fa-map-marker"></i>
                    <span class="text-muted">Bangalore, India</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-xs-12 profile-info-menu-mob text-center">
                    <a href="#"><span class="fa fa-envelope-o"></span><span>Message</span></a>
                    <a href="#"><span class="fa fa-star-o"></span><span>Follow</span></a>
                    <a href="#"><span class="fa fa-share-alt"></span><span>Share</span></a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 hidden-sm hidden-xs">
            <div class="profile-menu">
                <a href="#" target="_top">Photos</a>
                <a href="#videos" target="_top" class="12">Videos</a>
                <a href="#">Audios</a>
                <a href="#acting" target="_top" class="12">Acting</a>
            </div>
        </div>
    </div>
    <div class="row text-center hidden-sm hidden-xs">
        <div class="col-lg-12 col-md-12 col-sm-12">

            <p class="text-muted profile-info-about">
                I am a full-time freelance model that is passionate about creating amazing images. I am based in Auckland, NZ but do regular photo shoots around the country and also available for international work.
            </p>
        </div>
    </div>
    <div id="photos">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="img-wrapper" data-toggle="modal">
                            <img class="album-image" src="https://snusercontent.global.ssl.fastly.net/member-profile-full/96/1505896_9219016.jpg" alt="photo">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="img-wrapper" data-toggle="modal">
                            <img class="album-image" src="https://snusercontent.global.ssl.fastly.net/member-profile-full/96/1505896_4293171.jpg" alt="photo">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="img-wrapper" data-toggle="modal">
                            <img class="album-image" src="https://snusercontent.global.ssl.fastly.net/member-profile-full/96/1505896_8480589.jpg" alt="photo">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="img-wrapper" data-toggle="modal">
                            <img class="album-image" src="https://thunder-team.com/friend-finder/images/album/4.jpg" alt="photo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="margin-bottom-15"></div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="img-wrapper" data-toggle="modal">
                            <img class="album-image" src="https://snusercontent.global.ssl.fastly.net/member-profile-full/96/1505896_9219054.jpg" alt="photo">
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="img-wrapper" data-toggle="modal">
                            <img class="album-image" src="https://thunder-team.com/friend-finder/images/album/6.jpg" alt="photo">
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="img-wrapper" data-toggle="modal">
                            <img class="album-image" src="https://snusercontent.global.ssl.fastly.net/member-profile-full/96/1505896_4054660.jpg" alt="photo">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="img-wrapper" data-toggle="modal">
                            <img class="album-image" src="https://thunder-team.com/friend-finder/images/album/8.jpg" alt="photo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="physicalDetails" class="row margin-top-15">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header card-title-m">
                    <span>Physical Details</span>
                    <a href="javascript:void(0);" class="pull-right"><i class="fa fa-edit"></i></a>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-10">
                            <span class="padding-10">Height:</span> 162 cm / 5ft 4in
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-10">
                            <span class="padding-10">Skin color:</span> White
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-10">
                            <span class="padding-10">Weight:</span> 75 kg / 165 lbs
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-10">
                            <span class="padding-10">Eye color:</span> Black
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-10">
                            <span class="padding-10">Ethnicity:</span> Asian
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="credits" class="row margin-top-15">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header card-title-m">
                    <span>Credits</span>
                    <a href="javascript:void(0);" class="pull-right"><i class="fa fa-edit"></i></a>
                </div>
                <div class="card-body">
                    <div class="padding-10 margin-bottom-10">
                        <strong class="padding-5">2008</strong>
                        <ul class="padding-left-20">
                            <li>werwer : werwerwer</li>
                        </ul>
                    </div>

                    <div class="padding-10 margin-bottom-10">
                        <strong class="padding-5">2010</strong>
                        <ul class="padding-left-20">
                            <li>werwer : werwerwer</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="trainings" class="row margin-top-15">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header card-title-m">
                    <span>Trainings</span>
                    <a href="javascript:void(0);" class="pull-right"><i class="fa fa-edit"></i></a>
                </div>
                <div class="card-body padding-left-10">
                    <div class="margin-bottom-50">
                        <strong class="text-muted padding-top-10 padding-bottom-10">Institute Name</strong>
                        <code class="margin-left-20 text-muted text-s">6 Months</code>
                        <hr class="padding-0 margin-0"/>
                        <ul class="padding-left-20">
                            <li class="padding-top-5 padding-bottom-5 text-l" style="width:100%;">werwer : werwerwer</li>
                        </ul>
                    </div>
                    
                    <div class="margin-bottom-50">
                        <strong class="text-muted padding-top-10 padding-bottom-10">Institute Name</strong>
                        <code class="margin-left-20 text-muted text-s">6 Months</code>
                        <hr class="padding-0 margin-0" />
                        <ul class="padding-left-20">
                            <li class="padding-top-5 padding-bottom-5 text-l" style="width:100%;">werwer : werwerwer</li>
                        </ul>
                    </div>
                    <div class="margin-bottom-50">
                        <strong class="text-muted padding-top-10 padding-bottom-10">Institute Name</strong>
                        <code class="margin-left-20 text-muted text-s">6 Months</code>
                        <hr class="padding-0 margin-0" />
                        <ul class="padding-left-20">
                            <li class="padding-top-5 padding-bottom-5 text-l" style="width:100%;">werwer : werwerwer</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="acting" class="row margin-top-15">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header card-title-m">
                    <span>Acting</span>
                    <a href="javascript:void(0);" class="pull-right"><i class="fa fa-edit"></i></a>
                </div>
                <div class="card-body">
                    <div class="experiance">Acting experience</div>
                    <div class="padding-top-5 padding-left-20 text-l">No previous acting experience</div>
                    <hr />
                    <div class="experiance padding-top-10">Language</div>
                    <div class="padding-top-5 padding-left-15 text-l">
                        <span class="d-block padding-5">
                            <i class="fa fa-hand-o-right text-success"></i>
                            <span>English</span>
                        </span>
                        <span class="d-block padding-5">
                            <i class="fa fa-hand-o-right text-success"></i>
                            <span>Hindi</span>
                        </span>
                    </div>
                    <hr />
                    <div class="experiance padding-top-10">Accents</div>
                    <div class="padding-top-5 padding-left-15 text-l">
                        <span class="d-block padding-5">
                            <i class="fa fa-hand-o-right text-success"></i>
                            <span>Magahi</span>
                        </span>
                        <span class="d-block padding-5">
                            <i class="fa fa-hand-o-right text-success"></i>
                            <span>Bhojpuri</span>
                        </span>
                    </div>
                    <hr />
                    <p class="padding-top-10 text-l text-muted">DASadslD;oaj oAIDJS IOajds OIADSJ Oiadsj oIADJS OIajds i </p>
                </div>
            </div>
        </div>
    </div>

    <div id="modeling" class="row margin-top-15">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header card-title-m">
                    <span>Modeling</span>
                    <a href="javascript:void(0);" class="pull-right"><i class="fa fa-edit"></i></a>
                </div>
                <div class="card-body">
                    <div class="experiance">Modeling experience</div>
                    <div class="padding-top-5 padding-left-20 text-l">Part-time model - paid commercial work</div>
                    <hr />
                    <div class="experiance padding-top-10">Modeling website</div>
                    <div class="padding-top-5 padding-left-15 text-l">
                        <a href="www.google.com"><i class="fa fa-hand-o-right text-success padding-5"></i>www.google.com</a>
                    </div>
                    <hr />
                    <p class="padding-top-10 text-l text-muted">DASadslD;oaj oAIDJS IOajds OIADSJ Oiadsj oIADJS OIajds i </p>
                </div>
            </div>
        </div>
    </div>

    <div id="dancing" class="row margin-top-15">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header card-title-m">
                    <span>Dancing</span>
                    <a href="javascript:void(0);" class="pull-right"><i class="fa fa-edit"></i></a>
                </div>
                <div class="card-body">
                    <div class="experiance">Dancing ability</div>
                    <div class="padding-top-5 padding-left-20 text-l">Beginner</div>
                    <hr />
                    <div class="experiance padding-top-10">Dance styles</div>
                    <div class="padding-top-5 padding-left-15 text-l">
                        <span class="d-block padding-5">
                            <i class="fa fa-hand-o-right text-success"></i>
                            <span>Ballet</span>
                        </span>
                        <span class="d-block padding-5">
                            <i class="fa fa-hand-o-right text-success"></i>
                            <span>Bollywood</span>
                        </span>
                    </div>
                    <hr />
                    <p class="padding-top-10 text-l text-muted">DASadslD;oaj oAIDJS IOajds OIADSJ Oiadsj oIADJS OIajds i </p>
                </div>
            </div>
        </div>
    </div>

    <!--<a scrollTo href="#main-section">Scroll to main section</a>
    <button scrollTo scrollTargetSelector="#test-section">
        Scroll to test section</a>
        <button scrollTo scrollableElementSelector="#container" scrollYTarget="0">
            Go top</a>

            <div id="container">
                <section id="main-section">Bla bla bla</section>
                <section id="test-section">Bla bla bla</section>
                <div>-->
    <!--<div class="row">
           <div class="col-md-6 col-lg-6 col-sm-12 profile-header-img lg-text-right md-text-right sm-text-center">
               <img src="https://snusercontent.global.ssl.fastly.net/member-headshot-large/37/3331237_8075010.jpg?x=undefined&y=undefined" />
           </div>
           <div class="col-md-6 col-lg-6 col-sm-12 profile-header-details lg-text-left md-only-text-left">
               <h2>Arti Mala</h2>
               <h5><span>Actor, Model</span></h5>
               <div class="profile-address">
                   <i class="fa fa-map-marker"></i>
                   <span>Bangalore, India</span>
               </div>
               <div class="profile-buttons">
                   <button class="btn btn-success">
                       <i class="fa fa-envelope-o"></i>
                       <span>Message</span>
                   </button>
               </div>
           </div>
       </div>-->
