<div id="userProfileIndexForm" class="form form-horizontal container">

    <!--<div class="row">
        <div class="col-md-3 col-lg-3 col-sm-4 profile-header-img profile-info  hidden-sm hidden-xs">
            <img src="https://snusercontent.global.ssl.fastly.net/member-headshot-large/37/3331237_8075010.jpg?x=undefined&y=undefined" />
        </div>
        <div class="col-lg-9 col-md-9 col-sm-8 padding-top-20  hidden-sm hidden-xs">
            <div class="profile-info-detail">
                <h2>Arti Mala</h2>
                <div class="text-muted">Actor, Extra, Model, Teacher/Choreographer</div>
                <div class="profile-address">
                    <i class="fa fa-map-marker"></i>
                    <span class="text-muted">Bangalore, India</span>
                </div>
            </div>
            <div class="row">
                <div class="profile-info-menu col-md-4 hidden-sm hidden-xs">
                    <a href="#"><span class="fa fa-envelope-o"></span><span>Message</span></a>
                    <a href="#"><span class="fa fa-star-o"></span><span>Follow</span></a>
                    <a href="#"><span class="fa fa-share-alt"></span><span>Share</span></a>
                </div>
                <div class="profile-info-bar col-md-8">
                    <a><strong>1,460</strong>&nbsp;<span class="text-muted">Followers</span></a>
                    <a><strong>108</strong>&nbsp;<span class="text-muted">Recommendations</span></a>
                    <a><strong>123</strong>&nbsp;<span class="text-muted">Castings</span></a>
                    <a><strong>70.4K</strong>&nbsp;<span class="text-muted"> Views</span></a>

                </div>
            </div>

        </div>

        <div class="col-md-3 col-lg-3 col-sm-4 profile-header-mob-img profile-info-mob  hidden-lg hidden-md">
            <img src="https://snusercontent.global.ssl.fastly.net/member-headshot-large/37/3331237_8075010.jpg?x=undefined&y=undefined" />
        </div>
        <div class="col-lg-9 col-md-9 col-sm-8  hidden-md hidden-lg ">
            <div class="profile-info-detail-mob text-center">
                <h2>Arti Mala</h2>
                <div class="text-muted">Actor, Extra, Model, Teacher/Choreographer</div>
                <div class="profile-address">
                    <i class="fa fa-map-marker"></i>
                    <span class="text-muted">Bangalore, India</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-xs-12 profile-info-menu-mob text-center">
                    <a href="#"><span class="fa fa-envelope-o"></span><span>Message</span></a>
                    <a href="#"><span class="fa fa-star-o"></span><span>Follow</span></a>
                    <a href="#"><span class="fa fa-share-alt"></span><span>Share</span></a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 hidden-sm hidden-xs">
            <div class="profile-menu">
                <a href="#" target="_top">Photos</a>
                <a href="#videos" target="_top" class="12">Videos</a>
                <a href="#">Audios</a>
                <a href="#acting" target="_top" class="12">Acting</a>
            </div>
        </div>
    </div>
    <div class="row text-center hidden-sm hidden-xs">
        <div class="col-lg-12 col-md-12 col-sm-12">

            <p class="text-muted profile-info-about">
                I am a full-time freelance model that is passionate about creating amazing images. I am based in Auckland, NZ but do regular photo shoots around the country and also available for international work.
            </p>
        </div>
    </div>-->
    <!--<user-profile-photos></user-profile-photos>-->
    <!--<user-profile-physicalDetails></user-profile-physicalDetails>
    <user-profile-credits></user-profile-credits>-->
    <!--<user-profile-trainings></user-profile-trainings>-->
    <!--<user-profile-acting></user-profile-acting>
    <user-profile-modeling></user-profile-modeling>
    -->
    <user-profile-dancing></user-profile-dancing>

</div>


<!--<a scrollTo href="#main-section">Scroll to main section</a>
<button scrollTo scrollTargetSelector="#test-section">
    Scroll to test section</a>
    <button scrollTo scrollableElementSelector="#container" scrollYTarget="0">
        Go top</a>

        <div id="container">
            <section id="main-section">Bla bla bla</section>
            <section id="test-section">Bla bla bla</section>
            <div>-->
<!--<div class="row">
       <div class="col-md-6 col-lg-6 col-sm-12 profile-header-img lg-text-right md-text-right sm-text-center">
           <img src="https://snusercontent.global.ssl.fastly.net/member-headshot-large/37/3331237_8075010.jpg?x=undefined&y=undefined" />
       </div>
       <div class="col-md-6 col-lg-6 col-sm-12 profile-header-details lg-text-left md-only-text-left">
           <h2>Arti Mala</h2>
           <h5><span>Actor, Model</span></h5>
           <div class="profile-address">
               <i class="fa fa-map-marker"></i>
               <span>Bangalore, India</span>
           </div>
           <div class="profile-buttons">
               <button class="btn btn-success">
                   <i class="fa fa-envelope-o"></i>
                   <span>Message</span>
               </button>
           </div>
       </div>
   </div>-->
