
<div id="userProfileIndexForm" class="container">
    <profile-edit-header [jobGroupNames]="jobGroupName" [profileHeader]="profileHeader"></profile-edit-header>
    <profile-edit-menu [selectedJobGroup]="selectedGroups" [about]="aboutMe" (menuSelectionChange)="changeMenuSelection($event)"></profile-edit-menu>
    <!--<div id="photos">
        <profile-edit-photos></profile-edit-photos>
    </div>-->


    <profile-edit-physicalDetails></profile-edit-physicalDetails>
    <div id="1003"  *ngIf="setionVisbility.showExtras">
        <profile-edit-credits></profile-edit-credits>
    </div>
    <div id="1001" *ngIf="setionVisbility.showActing">
        <profile-edit-acting></profile-edit-acting>
    </div>
    <div id="1008"  *ngIf="setionVisbility.showDancing">
        <profile-edit-dancing></profile-edit-dancing>
    </div>
    <div id="1002"  *ngIf="setionVisbility.showModeling">
        <profile-edit-modeling></profile-edit-modeling>
    </div>
</div>

