<section class="home-casting-section">
    <div class="container">
        <div class="row">
            <span class="heading">Looking for talent? We will provide you the best.</span>
            <span class="heading-title">Discover thousands of models, actors, musicians and other creatives by</span>
            <span class="heading-subtitle">
                picking from my&nbsp;
                <a href="#">Talent Directory</a>
                &nbsp;or&nbsp;
                <a href="#">Place a free casting call.</a>
            </span>
        </div>
        <div class="row" style="text-align:center;">

            <a id="btnTalentDirectory" name="btnTalentDirectory" [routerLink]="['/search']" class="btn btn-success home-talent-directory">
                <i class="glyphicon glyphicon-globe" style="font-size:35px; float:left;"></i>
                <span>Talent Directory</span>
            </a>
        </div>
        <div class="row" style="text-align:center;">
            <a id="btnPlaceAFreeCastingCall" name="btnPlaceAFreeCastingCall" class="btn btn-success home-place-casting-call">
                <i class="glyphicon glyphicon-bullhorn" style="font-size:35px; float:left;"></i>
                <span> Place Casting Call</span>
            </a>
        </div>
    </div>
</section>