
ul.nav-logout-menu {
    list-style: none;
    border-radius: 0 0 5px 5px;
    -webkit-transition: opacity .25s ease .1s;
    -moz-transition: opacity .25s ease .1s;
    -o-transition: opacity .25s ease .1s;
    -ms-transition: opacity .25s ease .1s;
    transition: opacity .25s ease .1s;
}

.nav-logout-menu > li {
    display: inline;
    float: left;
    padding: 0 11px 0 15px;
    -webkit-transition: height .25s ease .1s;
    -moz-transition: height .25s ease .1s;
    -o-transition: height .25s ease .1s;
    -ms-transition: height .25s ease .1s;
    transition: height .25s ease .1s;
}

    .user-setting-menu-opener > a,
    .nav-logout-menu > li > a {
        color: #ebdfdf;
        -webkit-transition: color .2s ease-in-out;
        -moz-transition: color .2s ease-in-out;
        -o-transition: color .2s ease-in-out;
        -ms-transition: color .2s ease-in-out;
        transition: color .2s ease-in-out;
    }

    .nav-logout-menu > li > span {
        color: #ccc;
    }

    .nav-logout-menu > li > a {
        text-shadow: 1px 1px 1px rgba(0,0,0,.6);
    }

    .nav-logout-menu > li:first-child a {
        border-left: none;
    }

    .nav-logout-menu > li:last-child a {
        border-right: none;
    }

    .user-setting-menu-opener:hover > a,
    .nav-logout-menu > li:hover > a,
    .nav-logout-menu > li:hover > span {
        color: #F88017;
    }

.nav-logout-menu .login-img-link {
    width: 30px;
    padding: 1px;
    border: none;
}

    .nav-logout-menu .login-img-link > img {
        height: 26px;
        width: 26px;
        background-size: cover;
        border-radius: 50%;
    }

        .nav-logout-menu .login-img-link > img:hover {
            zoom: 1;
        }



.user-setting-menu-opener {
}

    .user-setting-menu-opener:hover .user-setting-menu {
        display: block;
    }

.user-setting-menu {
    /*display: none;*/
    width: 200px;
    position: absolute;
    z-index: 999;
    background: white;
    margin-top: 0px;
    border: solid 2px #555555;
    border-top: none;
}

    .user-setting-menu .heading {
        height: 30px;
        color: white;
        padding: 5px;
        background-color: #555555;
    }

    .user-setting-menu .content {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif!important;
    }

        .user-setting-menu .content > ul {
            list-style: none;
            padding-left: 5px;
        }

            .user-setting-menu .content > ul > li {
                border-bottom: solid 1px #ccc;
                padding: 5px 5px 5px 5px;
            }

                .user-setting-menu .content > ul > li > span,
                .user-setting-menu .content > ul > li > a {
                    text-decoration: none;
                    cursor: pointer;
                    -webkit-transition: color .2s ease-in-out;
                    -moz-transition: color .2s ease-in-out;
                    -o-transition: color .2s ease-in-out;
                    -ms-transition: color .2s ease-in-out;
                    transition: color .2s ease-in-out;
                }

                .user-setting-menu .content > ul > li:hover > span,
                .user-setting-menu .content > ul > li:hover > span {
                    color: #F88017;
                }
