<div id="logInOut" class="padding-top-15" style="color: white">

    <div *ngIf="!isLoggedIn" class="nav-sign-in">
        <span class="fa fa-sign-in"></span>
        <a class="" [routerLink]="['/login']">Log In</a>
    </div>

    <div *ngIf="isLoggedIn" style="color: #CECECE;">
        <span>Welcome &nbsp;{{UserFirstName}}</span>
        |
        <span class="fa fa-sign-out"></span>
        <button type="submit" class="padding-0" style="background: transparent; border: none; font-size: 14px; color: #CC0000;" (click)="logOut()">Log Out</button>
    </div>
</div>