<section class="home-new-comers-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <span class="heading">Newly Registered Members</span>
                    <span class="heading-title">
                        Know some randomly selected, newly registered members.
                        <a asp-controller="Account" asp-action="SignUp">Create your profile</a>
                        now to get known!
                    </span>
                </div>
                <div class="row text-center" style="padding-top:20px;">
                    <div class="col-sm-3 new-comers-img-container">
                        <img src="../../../../../wwwroot/css/icons/mail.png" />                      
                        <span class="img-name" style="display:block;">Vikash</span>
                        <span class="img-details" style="display:block;">
                            Hi..i m shivam gautam.....acting is my life.....or m apne aap ko prof [...]
                            <a chref="#" class="btn btn-link">More...</a>
                        </span>
                    </div>
                    <div class="col-sm-3 new-comers-img-container">
                        <img src="../../../../../wwwroot/css/icons/mail.png" /> 
                        <span class="img-name" style="display:block;">Ranjeet Kumar</span>
                        <span class="img-details" style="display:block;">
                            Hi..i m shivam gautam.....acting is my life.....or m apne aap ko prof [...]
                            <a chref="#" class="btn btn-link">More...</a>
                        </span>
                    </div>
                    <div class="col-sm-3 new-comers-img-container">
                        <img src="../../../../../wwwroot/css/icons/mail.png" /> 
                        <span class="img-name" style="display:block;">Vikash</span>
                        <span class="img-details" style="display:block;">
                            Hi..i m shivam gautam.....acting is my life.....or m apne aap ko prof [...]
                            <a chref="#" class="btn btn-link">More...</a>
                        </span>
                    </div>
                    <div class="col-sm-3 new-comers-img-container">
                        <img src="../../../../../wwwroot/css/icons/mail.png" /> 
                        <span class="img-name" style="display:block;">Ranjeet Kumar</span>
                        <span class="img-details" style="display:block;">
                            Hi..i m shivam gautam.....acting is my life.....or m apne aap ko prof [...]
                            <a chref="#" class="btn btn-link">More...</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>