
<div id="jobGroup" class="container">
    <div class="row margin-top-15">
        <div class="col-md-12 text-center page-heading padding-10">
            <h1>Group's I am interested in.</h1>
        </div>
    </div>
    <hr class="style-two" />
    <div class="row  margin-top-15">
        <div class="col-md-12 ">
           
                <input id="CategoryIDs_10" name="CategoryIDs" type="checkbox" value="10" class="invisible">
                <label for="CategoryIDs_10"  class="btn btn-category">Acting</label>

                <input id="CategoryIDs_131" name="CategoryIDs" type="checkbox" value="131"  class="invisible">
                <label for="CategoryIDs_131"   class="btn btn-category">Extras</label>

                <input id="CategoryIDs_8" name="CategoryIDs" type="checkbox" value="8"  class="invisible">
                <label for="CategoryIDs_8"  class="btn btn-category">Modeling</label>
        </div>
    </div>

</div>
