<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StarGuddy</title>
    <base href="~/" />


    <link href="~/css/ng2-toastr.min.css" rel="stylesheet" />
    <link href="~/css/common.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/theme.css" rel="stylesheet" />
    <link href="~/css/bootstrap_4.0_custom.css" rel="stylesheet" />
    <link href="~/css/bootstrap_test_alingment.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
</head>
<body>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
