<div id="profileSettingIndexForm" class="form form-horizontal container">
    <page-heading text="Profile Setting"></page-heading>
    <hr class="style-three" />
    <div class="row">
        <div class="col-md-6">
            <section id="starPro">
                <heading text="StarGuddy Pro" cssClass="card-title"></heading>
                <div class="card">
                    <div class="card-body">
                        Have you heard about StarNow Pro? There's no charge, but you have to earn StarNow Pro status. Find out more
                    </div>
                </div>
            </section>
            <section id="Privecy">
                <heading text="Privecy Options" cssClass="card-title  margin-top-20"></heading>
                <div class="card">
                    <div class="card-body">
                        <ul class="card-ul">
                            <li>
                                <span>Profile visibility :&nbsp;</span>
                                <span class="text-muted">Public&nbsp;</span>
                                <i class="fa fa-edit padding-left-5 cursor-hand"></i>
                            </li>
                            <li>
                                <span>Your Profile address:&nbsp;</span>
                                <a href="http://www.starguddy.com/ranjukumar" target="_blank">starguddy.com/ranjukumar&nbsp;</a>
                                <i class="fa fa-edit padding-left-5 cursor-hand"></i>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-md-5">Allow comments on profile :&nbsp;</div>
                                    <div class="col-md-7"><input type="checkbox" value="cheked" /></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-6">
            <section id="AccountOptions">
                <heading text="Account Options" cssClass="card-title"></heading>
                <div class="card">
                    <div class="card-body">
                        <ul class="card-ul">
                            <li>
                                <span class="text-primary cursor-hand">Change which emails I receive</span>
                            </li>
                            <li>
                                <span class="text-primary cursor-hand">Change email</span>
                            </li>
                            <li>
                                <span class="text-primary cursor-hand">Change password</span>
                            </li>
                            <li>
                                <span class="text-primary cursor-hand"> Manage my subscription</span>
                            </li>
                            <li>
                                <span class="text-danger cursor-hand">Remove my profile</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>