<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-10 col-xs-12 margin-auto" style="float:none;">
            <div class="page-heading padding-bottom-10">
                <h2 class="card-title">Change your profile image</h2>
            </div>
            <sub class="padding-10" style="font-size:12px;">Choose your any image with clear face.</sub>
        </div>
    </div>
    <div class="margin-top-15">

        <form #frmProfileHeadShot="ngForm" class="padding-top-20">
            <div class="row">
                <div class="col-md-8 col-sm-10 col-xs-12 margin-auto" style="float:none;">
                    <div class="form-group">
                        <label for="imgCaption" class="text-muted required">Caption</label>
                        <input type="text" id="imgCaption" name="imgCaption" class="form-control" required [(ngModel)]="headShotModel.caption" />
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <img [src]="headShotModel.imageUrl" style="height:210px; width:200px; border:solid 1px #CCC;" />
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <div class="hidden-xs" style="margin-top:80px;">&nbsp;</div>
                            <div class="form-group">
                                <label for="fileUploder" class="text-muted display-inline-block">Select image</label>
                                <sub style="font-weight:bold;color:green; float:right;" *ngIf="progress > 0 && progress < 100">
                                    {{progress}}%
                                </sub>

                                <!--<div class="progress display-inline-block pull-right" style="margin-bottom:0px!important; width:50%; border:solid 1px #ccc;" >
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="50" style="width:{{progress}}%;">
                                        {{progress}}%
                                    </div>
                                </div>-->
                                <sub style="font-weight:bold;color:green;  float:right;" *ngIf="message">
                                    {{message}}
                                </sub>
                                <input type="file" id="fileUploder" name="fileUploder" class="form-control" #image accept="image/*" (change)="handleFileInput($event.target.files)" />
                            </div>
                            <div class="form-group">
                                <button id="btnSave" type="submit" class="btn-profile-save btn btn-success" (click)="uploadImage()" [disabled]="!frmProfileHeadShot.form.valid || image.value==''">Upload Image</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>