<div id="acting" class="row margin-top-15">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header card-title-m">
                <span>Acting</span>
                <a href="javascript:void(0);" class="pull-right"><i class="fa fa-edit"></i></a>
            </div>
            <div class="card-body">
                <div class="experiance">Acting experience</div>
                <div class="padding-top-5 padding-left-20 text-l">No previous acting experience</div>
                <hr />
                <div class="experiance padding-top-10">Language</div>
                <div class="padding-top-5 padding-left-15 text-l">
                    <span class="d-block padding-5">
                        <i class="fa fa-hand-o-right text-success"></i>
                        <span>English</span>
                    </span>
                    <span class="d-block padding-5">
                        <i class="fa fa-hand-o-right text-success"></i>
                        <span>Hindi</span>
                    </span>
                </div>
                <hr />
                <div class="experiance padding-top-10">Accents</div>
                <div class="padding-top-5 padding-left-15 text-l">
                    <span class="d-block padding-5">
                        <i class="fa fa-hand-o-right text-success"></i>
                        <span>Magahi</span>
                    </span>
                    <span class="d-block padding-5">
                        <i class="fa fa-hand-o-right text-success"></i>
                        <span>Bhojpuri</span>
                    </span>
                </div>
                <hr />
                <p class="padding-top-10 text-l text-muted">DASadslD;oaj oAIDJS IOajds OIADSJ Oiadsj oIADJS OIajds i </p>
            </div>
        </div>
    </div>
</div>