<div id="modeling" class="row margin-top-15">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header card-title-m">
                <span>Modeling</span>
                <a href="javascript:void(0);" class="pull-right">
                    <i *ngIf="!showEditHtml" class="fa fa-edit text-success" (click)="edit()"></i>
                    <i *ngIf="showEditHtml" class="fa fa-window-close-o text-danger" (click)="edit()"></i>
                </a>
            </div>
            <div *ngIf="!showEditHtml" class="card-body">
                <div class="experiance">Modeling experience</div>
                <div class="padding-top-5 padding-left-20 text-l">{{modelingDetailModel.expText}}</div>
                <hr />
                <div class="experiance padding-top-10">Modeling website</div>
                <div class="padding-top-5 padding-left-15 text-l">
                    <a href="{{modelingDetailModel.webSite}}"><i class="fa fa-hand-o-right text-success padding-5"></i>{{modelingDetailModel.webSite}}</a>
                </div>
                <hr />
                <p class="padding-top-10 text-l text-muted">{{modelingDetailModel.experiance}}</p>
            </div>
            <div *ngIf="showEditHtml" class="card-body text-muted">

                <form #frmUserModelingEdit="ngForm">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="required">Auditions & Jobs I'm interested in</label>
                                <div class="text-l">
                                    <div class="col-md-3 col-sm-4 col-xs-6 padding-top-10 padding-bottom-10" *ngFor="let job of modelingDetailModel.modelingRoles">
                                        <input type="checkbox" value="{{job.code}}" name="{{job.code}}"
                                               [checked]="job.code==job.selectedCode"
                                               (change)="updateSelectedJobGroup($event)"
                                               class="padding-5 v-text-top form-control">
                                        <span class="padding-5 text-l">{{job.name}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="seperator" />
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <label class="profile-edit-label required">Modeling experience</label>
                                <div class="profile-edit-container row">
                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                        <input type="radio" name="actingExperienceGroup" class="padding-5 v-text-top"
                                               [checked]="modelingDetailModel.expCode==300"
                                               [value]="300"
                                               (change)="onModelingExpSelectionChange($event)">
                                        <span class="padding-5 text-l">Beginner, starting out</span>
                                    </div>
                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                        <input type="radio" name="actingExperienceGroup" class="padding-5 v-text-top"
                                               [checked]="modelingDetailModel.expCode==301"
                                               [value]="301"
                                               (change)="onModelingExpSelectionChange($event)">
                                        <span class="padding-5 text-l">Part-time model - paid commercial work</span>
                                    </div>
                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                        <input type="radio" name="actingExperienceGroup" class="padding-5 v-text-top"
                                               [checked]="modelingDetailModel.expCode==302"
                                               [value]="302"
                                               (change)="onModelingExpSelectionChange($event)">
                                        <span class="padding-5 text-l">Full-time model - paid commercial work</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="seperator" />
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <span class="pull-left">Modeling website</span>
                                <div class="profile-edit-container col-sm-4">
                                    <input type="text" class="form-control" placeholder="http://www.website.com" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr class="seperator" />
                    <div class="form-group">
                        <label class="profile-edit-label">Agent</label>
                        <div class="profile-edit-container row">
                            <div class="col-md-3 col-sm-4 col-xs-12 ">
                                <input type="radio" name="agentGroup" class="padding-5 v-text-top"
                                       [checked]="modelingDetailModel.agentNeedCode==100"
                                       [value]="100"
                                       (change)="onAgentGroupSelectionChange($event)">
                                <span class="padding-5 text-l">I don't have an agent</span>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12 ">
                                <input type="radio" name="agentGroup" class="padding-5 v-text-top"
                                       [checked]="modelingDetailModel.agentNeedCode==101"
                                       [value]="101"
                                       (change)="onAgentGroupSelectionChange($event)">
                                <span class="padding-5 text-l">I want an agent</span>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12 ">
                                <input type="radio" name="agentGroup" class="padding-5 v-text-top"
                                       [checked]="modelingDetailModel.agentNeedCode==102"
                                       [value]="102"
                                       (change)="onAgentGroupSelectionChange($event)">
                                <span class="padding-5 text-l">I have an agent</span>
                            </div>
                        </div>
                    </div>

                    <hr class="seperator" />
                    <div class="form-group">
                        <label class="profile-edit-label">Modeling experience</label>
                        <div class="profile-edit-container row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <textarea id="txtExperiance" name="txtExperiance" style="width:100%; min-height:100px;" class="form-control"
                                          [(ngModel)]="modelingDetailModel.experiance"
                                          #modelingExperience="ngModel"></textarea>
                                <div *ngIf="modelingExperience.invalid && (modelingExperience.dirty || modelingExperience.touched)" class="error">
                                    <div *ngIf="modelingExperience.errors.required">Modeling experience is required.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 text-center padding-15">
                        <button id="btnSave" class="btn-profile-save btn btn-success" (click)="saveChanges()>Save</button>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>