<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 hidden-sm hidden-xs padding-bottom-15">
        <div class="profile-menu">
            <a *ngFor="let group of selectedJobGroup" href="javascript:void(0)" target="_blank" (click)="menuSelectionChanged(group.code)">{{group.name}}</a>
        </div>
        <div style="height:1px; background-color:#F88017;"></div>
        <div class="text-center padding-5" style="border: solid #ccc 1px; background-color: #fcf9f9 !important; border-top:none!important;">
            <p class="text-muted profile-info-about">
                {{about}}
            </p>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 hidden-md hidden-lg">
        <div class="text-center padding-top-10">
            <a *ngFor="let group of selectedJobGroup" href="javascript:void(0)" target="_blank" (click)="menuSelectionChanged(group.code)" class="padding-10">{{group.name}}</a>
        </div>
    </div>
</div>
