<div id="physicalDetails" class="row margin-top-15">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header card-title-m">
                <span>Physical Details</span>
                <a href="javascript:void(0);" class="pull-right"><i class="fa fa-edit"></i></a>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-10">
                        <span class="padding-10">Height:</span> 162 cm / 5ft 4in
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-10">
                        <span class="padding-10">Skin color:</span> White
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-10">
                        <span class="padding-10">Weight:</span> 75 kg / 165 lbs
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-10">
                        <span class="padding-10">Eye color:</span> Black
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-10">
                        <span class="padding-10">Ethnicity:</span> Asian
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>