<div id="physicalDetails" class="row margin-top-15">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header card-title-m">
                <span>Physical Details</span>
                <a href="javascript:void(0);" class="pull-right">
                    <i *ngIf="!showEditHtml" class="fa fa-edit text-success" (click)="edit()"></i>
                    <i *ngIf="showEditHtml" class="fa fa-window-close-o text-danger" (click)="edit()"></i>
                </a>
            </div>
            <div class="card-body">
                <div *ngIf="!showEditHtml" class="row">
                    <div *ngIf="PhysicalAppearanceResult.Height" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-10">
                        <span class="padding-10">Height:</span>
                        <span class="padding-left-20">{{PhysicalAppearanceResult.Height}}</span>
                    </div>
                    <div *ngIf="PhysicalAppearanceResult.SkinColor" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-10">
                        <span class="padding-10">Skin color:</span>
                        <span class="padding-left-20">{{PhysicalAppearanceResult.SkinColor}}</span>
                    </div>
                    <div *ngIf="PhysicalAppearanceResult.Weight" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-10">
                        <span class="padding-10">Weight:</span>
                        <span class="padding-left-20">{{PhysicalAppearanceResult.Weight}}</span>
                    </div>
                    <div *ngIf="PhysicalAppearanceResult.Ethnicity" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-10">
                        <span class="padding-10">Ethnicity:</span>
                        <span class="padding-left-20"> {{PhysicalAppearanceResult.Ethnicity}}</span>
                    </div>
                    <div *ngIf="PhysicalAppearanceResult.EyeColor" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-10">
                        <span class="padding-10">Eye color:</span>
                        <span class="padding-left-20">{{PhysicalAppearanceResult.EyeColor}}</span>
                    </div>
                    <div *ngIf="PhysicalAppearanceResult.Chest" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-10">
                        <span class="padding-10">Chest:</span>
                        <span class="padding-left-20">{{PhysicalAppearanceResult.Chest}}</span>
                    </div>
                    <div *ngIf="PhysicalAppearanceResult.BodyType" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-10">
                        <span class="padding-10">Body Type:</span>
                        <span class="padding-left-20">{{PhysicalAppearanceResult.BodyType}}</span>
                    </div>
                    <div *ngIf="PhysicalAppearanceResult.HairLength" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-10">
                        <span class="padding-10">HairLength:</span>
                        <span class="padding-left-20">{{PhysicalAppearanceResult.HairLength}}</span>
                    </div>
                    <div *ngIf="PhysicalAppearanceResult.HairType" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-10">
                        <span class="padding-10">Hair Type:</span>
                        <span class="padding-left-20">{{PhysicalAppearanceResult.HairType}}</span>
                    </div>
                    <div *ngIf="PhysicalAppearanceResult.HairColor" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-10">
                        <span class="padding-10">Hair color:</span>
                        <span class="padding-left-20">{{PhysicalAppearanceResult.HairColor}}</span>
                    </div>

                </div>
                <div *ngIf="showEditHtml">
                    <section id="physicalAppreanceEdit" class="section-profile-edit text-muted">
                        <div class="section row">
                            <form id="frmPhysicalAppreance" name="frmPhysicalAppreance" action="#" method="post" class="form padding-10" role="form">
                                <div class="col-sm-6">
                                    <div class="form-group padding-bottom-15">
                                        <label class="">Height</label>
                                        <select [(ngModel)]="PhysicalAppearance.Height" name="dropDownHeight" id="dropDownHeight" class="form-control width-90">
                                            <option value="0">(optional)</option>
                                            <option *ngFor="let item of heightJson" [value]="item.key">{{item.value}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group padding-bottom-15">
                                        <label>Ethnicity</label>
                                        <select [(ngModel)]="PhysicalAppearance.Ethnicity" name="dropDownEthnicity" id="dropDownEthnicity" class="form-control  width-90">
                                            <option value="0">(optional)</option>
                                            <option *ngFor="let item of EthnicityJson" [value]="item.key">{{item.value}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group padding-bottom-15">
                                        <label>Eye color</label>
                                        <select [(ngModel)]="PhysicalAppearance.EyeColor" name="dropCtrlEyeColor" id="dropCtrlEyeColor" class="form-control  width-90">
                                            <option value="0">(optional)</option>
                                            <option *ngFor="let item of eyeColorJson" [value]="item.key">{{item.value}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group padding-bottom-15">
                                        <label>Body Type</label>
                                        <select [(ngModel)]="PhysicalAppearance.BodyType" name="dropDownBodyType" id="dropDownCtrlWaist" class="form-control  width-90">
                                            <option value="0">(optional)</option>
                                            <option *ngFor="let item of bodyTypeJson" [value]="item.key">{{item.value}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group padding-bottom-15">
                                        <label>Hair Type</label>
                                        <select [(ngModel)]="PhysicalAppearance.HairType" name="dropDownHairType" id="dropDownHairType" class="form-control  width-90">
                                            <option value="0">(optional)</option>
                                            <option *ngFor="let item of hairTypeJson" [value]="item.key">{{item.value}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group padding-bottom-15">
                                        <label>Weight</label>
                                        <select [(ngModel)]="PhysicalAppearance.Weight" name="dropDownWeight" id="dropDownWeight" class="form-control  width-90">
                                            <option value="0">(optional)</option>
                                            <option *ngFor="let item of weightJson" [value]="item.key">{{item.value}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group padding-bottom-15">
                                        <label>Skin color</label>
                                        <select [(ngModel)]="PhysicalAppearance.SkinColor" name="dropDownSkinColor" id="dropDownSkinColor" class="form-control  width-90">
                                            <option value="0">(optional)</option>
                                            <option *ngFor="let item of skinColorJson" [value]="item.key">{{item.value}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group padding-bottom-15">
                                        <label>Chest</label>
                                        <select [(ngModel)]="PhysicalAppearance.Chest" name="dropDownChest" id="dropDownChest" class="form-control  width-90">
                                            <option value="0">(optional)</option>
                                            <option *ngFor="let item of chestJson" [value]="item.key">{{item.value}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group padding-bottom-15">
                                        <label>Hair Length</label>
                                        <select [(ngModel)]="PhysicalAppearance.HairLength" name="dropDownHairLength" id="dropDownHairLength" class="form-control  width-90">
                                            <option value="0">(optional)</option>
                                            <option *ngFor="let item of hairLengthJson" [value]="item.key">{{item.value}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group padding-bottom-15">
                                        <label>Hair color</label>
                                        <select [(ngModel)]="PhysicalAppearance.HairColor" name="dropDownHairColor" id="dropDownHairColor" class="form-control  width-90">
                                            <option value="0">(optional)</option>
                                            <option *ngFor="let item of hairColorJson" [value]="item.key">{{item.value}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-12 text-center padding-15">
                                    <button id="btnSave" class="btn-profile-save btn btn-success" (click)="saveChanges()">Save</button>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
