<div id="frmForgotPassword" class="form-center-small">
    <div [hidden]="false">
        <p>Enter your email address, and we will send you a link to reset your password.</p>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Email" class="required">Email address</label>
                    <input type="email" id="Email" class="form-control"
                           [(ngModel)]="loginData.Email"
                           #username="ngModel"
                           pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                           placeholder="Email address" required autofocus />
                    <div *ngIf="username.errors && (username.dirty || username.touched)" class="error">
                        <div [hidden]="!username.hasError('required')">Email is required.</div>
                        <div [hidden]="!username.hasError('pattern')">Email format should be &nbsp;<small><b>joe@abc.com</b></small></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <button type="button" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </div>
    <div [hidden]="true">
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</div>