<div id="trainings" class="row margin-top-15">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header card-title-m">
                <span>Trainings</span>
                <a href="javascript:void(0);" class="pull-right"><i class="fa fa-edit"></i></a>
            </div>
            <div class="card-body padding-left-10">
                <div class="margin-bottom-50">
                    <strong class="text-muted padding-top-10 padding-bottom-10">Institute Name</strong>
                    <code class="margin-left-20 text-muted text-s">6 Months</code>
                    <hr class="padding-0 margin-0" />
                    <ul class="padding-left-20">
                        <li class="padding-top-5 padding-bottom-5 text-l" style="width:100%;">werwer : werwerwer</li>
                    </ul>
                </div>

                <div class="margin-bottom-50">
                    <strong class="text-muted padding-top-10 padding-bottom-10">Institute Name</strong>
                    <code class="margin-left-20 text-muted text-s">6 Months</code>
                    <hr class="padding-0 margin-0" />
                    <ul class="padding-left-20">
                        <li class="padding-top-5 padding-bottom-5 text-l" style="width:100%;">werwer : werwerwer</li>
                    </ul>
                </div>
                <div class="margin-bottom-50">
                    <strong class="text-muted padding-top-10 padding-bottom-10">Institute Name</strong>
                    <code class="margin-left-20 text-muted text-s">6 Months</code>
                    <hr class="padding-0 margin-0" />
                    <ul class="padding-left-20">
                        <li class="padding-top-5 padding-bottom-5 text-l" style="width:100%;">werwer : werwerwer</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>